.root {
    -fx-background-color: #0D1B2A;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI", sans-serif;
}

.jfx-text-field, .jfx-text-area, .jfx-combo-box {
    -jfx-focus-color: #2196F3;
    -jfx-unfocus-color: #64B5F6;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #90CAF9;
    -fx-background-color: transparent;
}

.jfx-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-background-radius: 30;
    -fx-cursor: hand;
}

.jfx-button:hover {
    -fx-background-color: #1976D2;
}

#previousButton {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-shape: "M 15,0 A 15,15 0 1,0 15,30 A 15,15 0 1,0 15,0";
    -fx-alignment: center;
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-effect: innershadow(gaussian, rgba(0,0,0,0.4), 4, 0.0, 0, 1);
}

#previousButton:hover {
    -fx-background-color: #1976D2;
}
.label {
    -fx-font-family: "Ariel", Times, serif;
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-bold: true;
    -fx-center-text: true;
    -fx-alignment: center;
    -fx-weight: bold;
    -fx-underline: true;
}

.jfx-tree-table-view {
    -fx-background-color: black;
}

.jfx-tree-table-row-cell {
    -fx-text-fill: red;
    -fx-background-color: blue;
}
